/* Reset */
* {
  min-height: 0;
}

/* Styles */
#waybar {
  background: @theme_base_color;
  color: @theme_fg_color;
 
  /* Margin is set in the config, you cant set it in css */
  border-radius: 8px;
  border: solid 2px @insensitive_fg_color;

  font-weight: 500;
}

/* All blobks */
.module {
  padding: 0px 10px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Left blocks */

.modules-left {
  margin-left: 0.75rem;
}

#workspaces {
  margin-right: 0.75rem;
}

#workspaces button {
  color: @light;
  background: transparent;
}

#workspaces button.active {
  background: @theme_unfocused_bg_color;
  color: @selected_fg_color;
}

/* Center */
#window {
  margin: 0 0.75rem;
  color: @light;
}

/* Right */
#custom-spotify {
}

#cava {
  background-color: @nord_bg;
  color: @light;
}

#pulseaudio-slider {
}

#pulseaudio-slider slider {
  background: @selected_bg_color;
}

#pulseaudio-slider trough {
	min-height: 10px;
	min-width: 80px;
	background-color: @unfocused_bg_color;
}

#custom-notification {
  background-color: @nord_bg;
  color: @light;
}
